<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title></title>
</head>
<body>
    无线传感器的组成模块封装在一个外壳内，在工作时它将由电池或振动发电机提供电源，构成无线传感器网络节点，由随机分布的集成有传感器、数据处理单元和通信模块的微型节点，通过自组织的方式构成网络。它可以采集设备的数字信号通过无线传感器网络传输到监控中心的无线网关，直接送入计算机，进行分析处理。如果需要，无线传感器也可以实时传输采集的整个时间历程信号。监控中心也可以通过网关把控制、参数设置等信息无线传输给节点。数据调理采集处理模块把传感器输出的微弱信号经过放大，滤波等调理电路后，送到模数转换器，转变为数字信号，送到主处理器进行数字信号处理，计算出传感器的有效值，位移值等。
    传感器类型编辑
    振动传感器

每个节点的最高采样率可设置为4KHz，每个通道均设有抗混叠低通滤波器。采集的数据既可以实时无线传输至计算机，也可以存储在节点内置的2M数据存储器内，保证了采集数据的准确性。有效室外通讯距离可达300m，节点功耗仅30mA，使用内置的可充电电池，可连续测量18小时。如果选择带有USB接口的节点，您既可以通过USB接口对节点充电，也可以快速地把存储器内的数据下载到计算机里面。
应变传感器

节点结构紧凑，体积小巧，由电源模块、采集处理模块、无线收发模块组成，封装在PPS塑料外壳内。节点每个通道内置有独立的高精度120-1000Ω桥路电阻和放大调理电路，可以方便地由软件自动切换选择1/4桥，半桥，全桥测量方式，兼容各种类型的桥路传感器，比如应变，载荷，扭距，位移，加速度，压力，温度等。节点同时支持2线和3线输入方式，桥路自动配平，也可以存储在节点内置的2M数据存储器。有效室外通讯距离可达300 m。可连续测量十几个小时。
扭矩传感器

节点结构紧凑，体积小巧，封装在树脂外壳内。节点每个通道内置有高精度120-1000Ω桥路电阻和放大调理电路。桥路自动配平。节点的空中传输速率可以达到250K BPS，有效实时数据传输率达到4K SPS，有效室内通讯距离可达100米。节点设计有专门的电源管理软硬件，在实时不间断传输情况下，节点功耗仅25mA，使用普通9V电池，可连续测量几十个小时。对于长期监测应用，以5分钟间隔发送一次扭矩值，数年不需要更换电池，大大提高了系统的免维护性。
</body>
</html>